<%- model_class = Trip -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @trip.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @trip.description %></dd>
</dl>
<%= render 'countries/countries_list' %>

<%= link_to 'Back', trips_path, :class => 'btn btn-default'  %>
<%= link_to 'Edit', edit_trip_path(@trip), :class => 'btn btn-default' %>
<%= link_to 'Destroy',
              trip_path(@trip),
              :method => 'delete',
              :data => { :confirm => ('Are you sure?') },
              :class => 'btn btn-danger' %>
