<%= form_for @country, :html => { :class => "form-horizontal country" } do |f| %>
  <div class="form-group">
    <%= f.label :country, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :country, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :visited, :class => 'control-label col-lg-2' %>
    <%= f.check_box :visited, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', countries_path(currency_id: @country.currency_codes.first.currency_id), :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
